@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --lightgreen: #90ee90;
  --orange: #ffa500;
  --red: #ff0000;
  --highlight: #ffff00;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', 'sans-serif';
  background-color: var(--primary-color);
}

/* ----------------- Header Start ----------------- */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.home-btn {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 900;
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: var(--secondary-color);
  border: 1px dashed white;
  border-radius: 15px;
  cursor: pointer;
}

.home-btn:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px dashed black;
}

.search {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: white;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
  border: 2px solid white;
}

.search::placeholder {
  color: #7378c5;
}
/* ----------------- Header End ----------------- */

/* ----------------- Genre Filter Start ----------------- */
.tags-filter {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  padding: 0.4rem 1rem;
  background-color: var(--highlight);
  margin: 1rem;
  border-radius: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.tag.selected {
  background-color: var(--red);
}
/* ----------------- Genre Filter End ----------------- */

/* -----------------  Main Body Start ----------------- */
.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Movie Card Start */
.movie-card {
  width: 300px;
  height: 500px;
  margin: 1rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: white;
}

.movie-card img {
  width: 100%;
  height: 400px;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: var(--lightgreen);
}

.movie-info span.orange {
  color: var(--orange);
}

.movie-info span.red {
  color: var(--red);
}

.movie-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}

.movie-card:hover .movie-description {
  transform: translateY(0%);
}

.know-more {
  border: 0;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.know-more:hover span{
  padding-right: 5px;
}

.know-more span::after {
  content: '\00bb';
  opacity: 0;
}

.know-more:hover span::after{
  opacity: 1;
  padding-left: 15px;
  padding-right: 0;
  transition: 0.3s;
}
/* Movie Card End */

/* No Movie */
.no-movie {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px white, 0px 7px 10px 10px black;
  margin: 3rem;
}

.no-movie img {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border: 3px solid black;
  border-radius: 20px;
}

/* -----------------  Main Body End ----------------- */

/* -----------------  Pagination Start --------------- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

}

.page {
  color: white;
  padding: 20px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: gray;
}

.current {
  border: 3px solid white;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 700;
  background-color: var(--secondary-color);
}
/* -----------------  Pagination End --------------- */

/* -----------------  Overlay Start --------------- */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.embed.hide {
  display: none;
}

.embed.show {
  display: inline-block;
}

.arrow {
  position: absolute;
}

.arrow.left-arrow {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.arrow.right-arrow {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.overlay svg{
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  color: black;
}

.overlay svg:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
  background-color: white;
}

.movie-title {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title h1 {
  width: 60vw;
}

.dots {
  margin-top: 25px;
}

.dots .dot {
  margin-right: 15px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 700;
}

.dots .dot.active {
 border-color: var(--red);

}